{%extends "first_app/base.html"%}
{%block body_block%}


<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Forms</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>
  <body>
    

    <div class = "container">
<h1> fill out the form </h1>
    <form method ="POST">

        {{form.as_p}}

        {%csrf_token%}
        

    <input type="submit" class="btn btn-primary"  value="submit" >

    </form>

    </div>
    </body>
    </html>

{%endblock%}
